body {
    background-color: rgb(240, 240, 240);
    margin: 0;
    padding: 0;
    }

/* Used on every page */

.text-blocks {
    background-color: rgb(165, 224, 230);
    text-align: center;
    width: 100%;
    height: 80px; 
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    margin: 0;
    padding: 0;
    }

.portfolio-button {
    background-color: transparent;
    border: none;
    width: 100%;
    height: 100%;
    display: block;
}

.portfolio-button:hover {
   cursor: pointer; 
}

h1 {
    font-size: 550%;
    margin: 0;
    font-family: "Baskerville Old Face", serif;
}
option {
    border-radius: 20px;
    background-color: rgb(209, 255, 250);
    height: 50px;
    text-align: center;
    font-size: 100%;
    border-radius: 10px;
}

select {
    background-color: rgb(197, 235, 235);
    width: 15%;
    height: 50px;
    text-align: center;
    font-size: 150%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: none;
}
.select:hover{
    cursor:pointer;
}
.dropdown-container {
    display: flex;
    gap: 5px; 
    padding-left: 5px;
    
}

.contact {
    padding-left: 100px;
    padding-right: 100px;
    display: flex;
}
.contact:hover{
    cursor: pointer;
}

.img-logo {
    width: 50px;
    height: 50px;
    margin: 20px;
 }


/* Used only on main page */

.slideshow-container {
    position: relative;
    max-width: 75%;
    margin: 20px auto;
    border-radius: 10px;
    border-color: black;
    background-color: rgb(240, 240, 240);
    padding-top: 0px;
    padding-bottom: 20px;
    height: 760px;
    gap: 33%;
}

.slides {
    display: none;
}

.img-slides {
    width: 100%;
    height: 750px;
    object-fit: cover;
    border-radius: 10px;
    border: 5px solid black;
}

.img-slides:hover{
    cursor: pointer;
}

.caption {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px 20px;
    font-size: 200%;
    border-radius: 5px;
}

/* Tekst on side pages */

h2 {
    text-align: center;
    font-size: 200%;
}

h3 {
       padding-left: 50px;
    padding-right: 50px;
}
/* About Me page */

.img-lars {
    display: flex;
    height: 300px;
    width: 300px;
    padding:20px;
}

/* Bookstand page */

.img-bookstand {
    display: flex;
   
}

.img-bookstand img {
    height: 500px;
    width:auto;
    border: 5px solid rgba(0, 0, 0);
    gap: 0;
}

.img-nightstand {
    display: flex;
   
}

.img-nightstand img {
    height: 500px ;
    width: 750px ;
    border: 5px solid rgba(0, 0, 0);
    margin: 20px;
    gap: 0;
}

/* Christmas Card page */
canvas {
    border: 2px solid #333;
}

#canvas-container {
    position: relative;
    margin-top: -4%;
    transform: scale(0.94); /* Change this value to scale up/down */
    transform-origin: top left; /* So it scales from the top-left corner */

}
 figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

figcaption {
    font-size: 16px;
    color: #333;
    text-align: center;
    margin-top: 10px;
}

